tnlibConfig = ../tnlib.config
runNumbersFile = ../numbers.beam
itreeName = t
ofileName = sort.root
otreeName = tpar
lossDir = ../LossFiles/
targetSuffix = Diamond
calDir = ../Cal/
frontEcalFile = FrontEcal.dat
backEcalFile = BackEcal.dat
deltaEcalFile = DeltaEcal.dat
frontTimecalFile = FrontTimecal.dat
backTimecalFile = BackTimecal.dat
deltaTimecalFile = DeltaTimecal.dat
