TNDataDir             = /data2/Li6Plus2IAS/grgroup/scratch3/16March2026_WashU_6Li2Plus2/SpecTcl_6Liplus2IAS/
ROOTDataDir           = ../RootFiles/
OutputDir             = ../RootFiles/
ExpInfoDir            = ../config/
folder_separated_data = false
BarMapFile            = barmap.txt
PosMapFile            = barpositionmap_OLD.txt
GainFile              = pmtgains_matched.txt
VertexFile            = reactionvertex.txt
BarTransformsFile     = TNCrystalParams_all_redone.txt
BarGatesFile          = bar_gates_CRUDE.txt
CenterGap             = 3.381
InterRowSpacing       = 1.628999995
IntraRowSpacing       = 1.127
VerticalSpacing       = 21
FrontPanelThick       = 1.9
CrystalDim            = 2
