TNDataDir   = /data2/Li6Plus2IAS/grgroup/scratch3/16March2026_WashU_6Li2Plus2/SpecTcl_6Liplus2IAS/
ROOTDataDir = ../RootFiles/
OutputDir   = ../RootFiles/
ExpInfoDir  = ../config/
folder_separated_data = false
BarMapFile  = barmap.txt
PosMapFile  = barpositionmap.txt
GainFile    = pmtgains.txt
VertexFile  = reactionvertex.txt
